body {
    background-color: darkorange;
    margin: 0;
}

.column {
    padding-left: 20px;
    padding-right: 20px;
}

.chatbox {
    background-color: white;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px 5px 0 0;
}

.user-input {
    width: 100%;
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 0 0 5px 5px;
}

.message {
    text-align: left;
    margin-bottom: 5px;
}

.user-message {
    font-weight: bold;
}

.bot-message {
    font-weight: normal;
}

.input-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

#image-input {
    flex: 1;
    padding: 10px;
    border: none;
}